/* Variáveis */
:root {
    --bg-primary: #f8fafc;
    --bg-secondary: #f1f5f9;
    --color-error: #f87171;
    --color-indigo: #4338ca;
    --color-success: #4ade80;
    --text-primary: #020617;
    --text-secondary: #0f172a;
    --font-size-h1: clamp(2rem, 5vw, 3rem);
    --font-size-h2: clamp(1.75rem, 4vw, 2.5rem);
    --font-size-h3: clamp(1.5rem, 3vw, 2rem);
    --font-size-h4: clamp(1.25rem, 2.5vw, 1.75rem);
    --font-size-h5: clamp(1rem, 2vw, 1.5rem);
    --font-size-h6: clamp(0.875rem, 1.5vw, 1.25rem);
}

/* Default html, body */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
}

/* Font sizes responsivos para cabeçalhos */
h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h5 { font-size: var(--font-size-h6); }

/* Default para links */
a { color: inherit; text-decoration: none; }

/* Header e Footer */
header, footer {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--bg-primary);
    box-shadow: 0 0 16px 0 rgba(15, 23, 42, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    left: 0;
    height: 36px;
}

header { top: 0; }
footer { bottom: 0; }

/* Container responsivo */
.container { width:90%; max-width: 1200px; margin:0 auto; padding:0 1rem;}

/* Navegação */
nav { display: flex; gap: 1.5rem; }
.nav-link {
    color: var(--text-secondary);
    font-weight: 500;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.5s;
}

.nav-link:hover,
.active {  color:var(--color-indigo); border-bottom-color:var(--color-indigo); }

/* Main */
main {
    flex-grow: 1;
    padding: 36px 0; /* Ajuste com base na altura do header e footer */
    display: flex;
    flex-direction: column;
    justify-content: start;
}

section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--text-primary);
}

.hero-content { padding:1rem; max-width:1000px; margin:0 auto; }
.hero-content p { font-size:1.5rem; margin-top:0.25rem; }
.content { padding:2rem; background-color:var(--bg-primary); `}

/* Formulário */
form { display:grid; gap:0.5rem; margin:0 auto; }
input,
textarea {
    padding: 0.75rem;
    border: 1px solid var(--color-indigo);
    border-radius: 0.5rem;
    box-shadow: -1px 2px 2px rgba(15, 23, 42, 20%);
    font-size: 1rem;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}
input:hover,
textarea:hover { box-shadow:1px -1px 2px rgba(15, 23, 42, 20%); }
textarea { resize:vertical; height:150px; }

/* Botão de Submit */
input[type="submit"],
.submit-button {
    padding: 0.75rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    transition: background-color 0.2s, opacity 0.2s, color 0.2s, cursor 0.2s;
}

input[type="submit"] { background-color:var(--bg-secondary); color:var(--text-secondary); cursor:not-allowed; opacity:0.6; }
input[type="submit"].active,
.submit-button.active { background-color:var(--color-indigo); color:var(--bg-primary); cursor:pointer; opacity: 1; }

/* Estilos de validação */
input.invalid,
textarea.invalid { border-color:var(--color-error); }
input.valid,
textarea.valid { border-color:var(--color-success); }

/* Mensagens de erro e sucesso */
.error-message,
.success-message { font-size:0.875rem; margin-top:-5px; height:1.2rem;}
.error-message { color:var(--color-error); }
.success-message { color:var(--color-success); }
.flex { display: flex; justify-content: space-between; align-items: center; }
